a:link {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
    }
    a:visited {
        color:#000000;
        background-color:transparent;
        text-decoration:none;
    }
    a:hover {
        color:#ff0000;
        background-color:transparent;
        text-decoration:underline;
    }
    a:active {
        color:#ff0000;
        background-color:transparent;
        text-decoration:underline;
    }
    #link1{
      
    }
    #top{
      background-color:white;
      margin:20px;
      padding:20px;
      text-align:center;
    }
    #middletop{
      
    }
    #imagetop{
      background-color:orange;
      margin:20px;
      padding:20px;
    }
    #site{
      
    }
    #paragraph{
      
    }
    #list{
      
    }
    body {background-color:orange;}
    h1 {background-color:white;}
    p#pInter01 {
      background-color:green;
      border: 1px solid black;
      padding: 10px;
      margin: 30px;
    }
