a:link {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
    }
    a:visited {
        color:#000000;
        background-color:transparent;
        text-decoration:none;
    }
    a:hover {
        color:#ff0000;
        background-color:transparent;
        text-decoration:underline;
    }
    a:active {
        color:#ff0000;
        background-color:transparent;
        text-decoration:underline;
    }
    .login{
    text-align:center;
}
.ideas{
    text-align:center;
}
.list{
    width:70%;
    margin:0 auto;
    text-align:center;
}
.page{
    margin:2px;
}

.heading{
    text-align:center;
    font:italic bold 20px Georgia, serif;
}

.updates{
    text-align:center;
    font:italic bold 15px Georgia, serif;
}

.input{
    text-align:center;
}
.pagebottom{
    text-align:center;
}
